:root {
  --blue-color: #BBDDF7;
  --white-color: #FFFFFC;
  --red-color: #F43552;
  --dark-red-color: #992A3B;
  --light-gray-color: #8C9999;
  --gray-color: #4D5454;
  --dark-gray-color: #2A2D2D;
}

/* General */

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
}

body{
  background-color: #FFFFFC;
  width: 100vw;
  height: 100%;
  margin: 0px;
}

/* Navigation */

#navigation {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(255, 255, 252, 0.8);
  border-bottom: 5px solid #F43552;
}

#navigation a{
  text-decoration: none;
}

/* left logo tab */
#logoTab {
  height: 50%;
  width: 250px;
  display: flex;
  cursor: pointer;
}

#circle1 {
  background-color: #F43552;
  background-color: var(--red-color);
  width: 22px;
  height: 22px;
  margin: auto 20px auto 30px;
  border-radius: 50%;
  display: flex;
}

#circle2 {
  width: 0px;
  height: 0px;
  border: 8px solid #FFFFFC;
  border: 8px solid var(--white-color);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  margin: auto;
}

#logoName {
  margin: auto;
  margin-left: 0px;
  color: #F43552;
  color: var(--red-color);
  font-size: 20pt;
  font-family: serif;
  letter-spacing: 0.08em;
}

#logoTab:hover #circle2{
  animation-play-state: running;
  transform: rotate(315deg);
  transition: all 0.3s ease-in-out 0s;
}

/* right navigation tabs */
#rightNavTabs {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  /*background-color: var(--light-gray-color);*/
}

.navTab {
  height: 100%;
  width: 80px;
  min-width: 62px;
  display: flex;
  /*background-color: var(--blue-color);*/
}

.tabName {
  align-self: flex-end;
  margin: auto;
  color: #F43552;
  color: var(--red-color);
  letter-spacing: 0.06em;
  position: relative;
}

.underline {
  position: absolute;
  top: 100%;
  width: 0px;
  height: 6px;
  background-color: var(--red-color);
  transition: width 1s ease;
}

.navTab:hover .underline {
  width: 100%;
}

.navTab:hover {
  cursor: pointer;
}

/*dropdown for projects*/
.dropdown {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: rgb(255, 255, 252, 0.8);
  /*background-color: #f1f1f1;*/
  min-width: 150px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 10pt;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  
.dropdown-content a:hover {
  color: red;
}

/* Main body with project cards */
.project-card {
  width: 25%;
  height: 500px;
}

.project-animation {
  width: 100%;
  /*background-color: gray;*/
  height: 400px;
}

.project-title {
  margin-bottom: 0px;
}

.project-description {
  margin: 0px;
}


/* Syringe Animation */
#container-syringe {
  align-items: center;
  justify-content: flex-end;  
}

.syringe {
  background-color: black;
}

#syringe-box-1 {
  width: 25px;
  height: 5px;
}

#syringe-box-2 {
  width: 12px;
  height: 20px;
  transition: all 1s ease;
}

#syringe-box-3 {
  width: 25px;
  height: 20px;
}

#syringe-box-4 {
  width: 40px;
  height: 5px;
}

#syringe-box-5 {
  width: 20px;
  height: 200px;
}

#syringe-box-6 {
  width: 15px;
  height: 15px;
}

#syringe-box-7 {
  width: 10px;
  height: 15px;
}

#syringe-box-8 {
  width: 3px;
  height: 25px;
}

#container-syringe:hover #syringe-box-2{
  transition: all 1s ease;
  height: 50px;
}

/* Zip-line animation*/
.container-zipline {
  width: 80%;
  height: 40%;
  background-color: gray;
  position: relative;
  margin: auto;
}

.zipline-part {
  background-color: black;
  position: absolute;
}

.post {
  display: absolute;
}

#post-1 {
  height: 50px;
  width: 20px;
  bottom: 0px;
}

#post-2 {
  height: 80px;
  width: 20px;
  bottom: 0px;
  left: 200px;
}

.pulley {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#pulley-1 {
  bottom: 60px;
}

#pulley-2 {
  bottom: 90px;
  left: 200px;
}

.pulley-spoke {
  position: absolute;
  width: 2px;
  height: 12px;
  top: 2px;
  left: 9px;
  margin: 2px auto;
  background-color: white;
  transition: all 1s ease;
}

#spoke-2 {
  transform: rotate(90deg);
}

#spoke-4 {
  transform: rotate(90deg);
}

.line {
  width: 200px;
  height: 2px;
  transform: rotate(-8.5deg);
}

#line-1 {
  left: 12px;
  bottom: 75px;
}

#line-2 {
  left: 12px;
  bottom: 93px;
}

#container-bucket {
  position: absolute;
  bottom: 70px;
  left: 70px;
  transition: all 1s ease-in-out;
}

#line-3 {
  width: 2px;
  height: 20px;
}

#bucket {
  height: 0px;
  width: 20px;
  border-top: 25px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 20px;
  left: -15px;
}

.pulley-post {
  width: 5px;
  height: 15px;
}

#line-4 {
  bottom: 50px;
  left: 7.5px;
}

#line-5 {
  bottom: 80px;
  left: 207.5px;
}

.container-zipline:hover #container-bucket{
  transition: all 1s ease-in-out;
  bottom: 80px;
  left: 130px;
}

.container-zipline:hover #spoke-1 {
  transition: all 1s ease-in-out;
  transform: rotate(-180deg);
}

.container-zipline:hover #spoke-2 {
  transition: all 1s ease-in-out;
  transform: rotate(-90deg);
}

.container-zipline:hover #spoke-3 {
  transition: all 1s ease-in-out;
  transform: rotate(-180deg);
}

.container-zipline:hover #spoke-4 {
  transition: all 1s ease-in-out;
  transform: rotate(-90deg);
}


/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  color: var(--gray-color);
  background-color: var(--blue-color);
}

footer h4{
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

footer ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  max-width: 600px;
  height: 20px;
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: auto;
}

footer li:hover {
  color: var(--red-color);
  cursor: pointer;
}


@media only screen and (max-width: 750px) {
  
  #rightNavTabs {
    width: 40%;
  }
  
  .tabName {
    font-size: 12pt;
  }
  
  .underline {
    height: 4px;
  }
  
  .project-card {
    width: 50%;
  }
  
  footer ul{
    width: 100%;
  }
}



@media only screen and (max-width: 520px) {
  
  #logoName {
    font-size: 16pt;
  }   
  
  #circle1 {
    margin: auto 10px auto 10px;
  }
  
  #rightNavTabs {
    width: 50%;
  }
  
  .tabName {
    font-size: 11pt;
  }
  
  .project-card {
    width: 100%;
  }
  
  footer ul{
    width: 100%;
  }
  
  footer li {
    width: 100%;
  }
}
